<h1>Find Flights</h1>
<%= form_with url: 'flights', method: 'get' do |f| %>
  <%= select_tag(:departure_airport_code, options_for_select(@airport_codes)) %>
<% end %>
<% unless @flights.nil? %>
  <ul>
    <% @flights.each do |flight| %>
      <li> <%= link_to flight.code, flight_path(flight) %> </li>
    <% end %>
  </ul>
<% end %>
